body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.bloco {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(118, 55, 255, 0.7);
}

h1 {
  font-size: 24px;
  margin-bottom: 3rem;
  text-align: center;

}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.opcoes {
  display: flex;
  margin: 18px;
  flex-wrap: wrap;
}

.opcoes label {
  margin-right: 10px;
}
